.height-2{
    height:1.8rem;
    font-size:0.75rem;
}
div>.position-absolute{
    top:0px;
    right:1px;
}
div.position-reletive{
    min-width:1024px;
}
div>a:nth-child(3){
    margin-left:30px;
}
div>a:first-child{
    padding-left:13px;
    padding-right:13px;
    border-right:0.01rem #fff solid;
}
.pd-1{
    padding:0.25rem;
}
.pd-2{
    padding:0.5rem;
}
.pd-3{
    padding:1rem;
}
.pd-4{
    padding:1.5rem;
}
.pd-5{
    padding:3rem;
}